<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Cek Rekomendasi | Aplikasi Prediksi Nilai dan Rekomendasi MataKuliah</title>
</head>

<style>
 
    .navbar{
      display: flex;
      height: 80px;
      text-align: center;
      justify-content: center;
    }
    .logo-image{
      position: absolute;
      left: 0px;
      width: 46px;
      height: 46px;
    }
    .title{
      position: absolute;
      top:10px;
      width: 500px;
      font-size: 20px;
    } 

    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    table {
        margin: auto;
        text-align: center;
        justify-content: center;
        border: 1px solid black;
        width:65%;
        border-spacing: 30px;
        border-collapse:collapse;

    }
    th{
        border: 1px solid black;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: black;
        color: white;
        

    }
    td{
        border: 1px solid black;
        width: 30%;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>


<body style="background-image: url(bg.png); background-size: cover;">
    
    <!-- Header -->
    <header class="w3-container w3-center" style="padding:10px 16px;justify-content: center; text-align: center; margin: auto;">
        <img src="Logo.jpg"  width="250"><br>
        <h1 class="w3-margin" style="color: black; font-weight: bolder; margin: auto;justify-content: center;text-align: center;">Cek Rekomendasi Matakuliah</h1>
    </header>

    
    <div class="body-form" style="margin: auto; justify-content: center; padding-left: 20%; padding-right: 20%;">
        <a href="IndexMhs">Kembali</a>
        <div style="padding-top: 5%; border-radius: 10px; height: auto; margin: auto;">
            
            <table>
                <tr>
                    <th colspan="1"> Matakuliah Rekomendasi</th>
                    <th colspan="1"> Nilai Minimum</th>
                    <th colspan="1"> Hasil Rekomendasi</th>
                    <th colspan="1"> Kelompok Rekomendasi</th>
                </tr>
           
                <tr>
                    <% var mk= ["Data Mining", "Machine Learning",""] %>
                    <% var kel= ["Data Science","",""] %>
            
                    <% for(var a=0; a < datalist.length;a++) { %>
                        <% for(var b=0; b < datalist[a].matkul.length;b++) { %>
                            
                            <% if(datalist[a].Nama == currentUser.username){ %>
                                <td><%= datalist[a].matkul[b].nama_MK %></td>
                                <% var d="MKA"+b  %>
                                <td id="<%= d %>"></td>
                                <td ><%= datalist[a].Hasil[0].Rekomendasi1[b]  %></td>
                                <td><%= datalist[a].Hasil[1].Kelompok[b]  %></td>
                                <% } %>
                            </tr>                           
                            
                            
                        <% } %>
                        
                    <% } %>
            </table>
            
            <!-- <td><button onclick="document.getElementById('id01').style.display='block'">Lihat</button></td> -->
        </div>

    </div>


    <!-- <div id="id01" class="modal" style="margin: auto; justify-content: center; text-align: center; padding-top: 15%;">

        <form class="modal-content animate" action="" style="text-align: center; margin: auto;">
            <div style="padding-top: 5%;">
                <table>
                    <tr>
                        <th colspan="3"> Similarity</th>
                        <th colspan="3"> MAE</th>
                    </tr>
                    <tr>
    
                    </tr>
                    <tr>       
                        <% for(var a=0; a < datalist.length;a++) { %>
                            <% for(var b=0; b < datalist[a].matkul.length;b++) { %>
                                <% if(datalist[a].Nama == currentUser.username){ %>
                                    <td colspan="3"><%= datalist[a].matkul[b].hasil%></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                </table>

                <button style="justify-content: end; text-align: end;" onclick="window.print()">Print</button>
            </div>
        </form>
    </div> -->

</body>

<span id="mhs" hidden><%= JSON.stringify(datalist) %></span>
<span id="uname" hidden><%= JSON.stringify(currentUser.username)%></span>
<span id="mk" hidden><%= JSON.stringify(datalist[0].matkul) %></span>


<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    
    var mk1 = window.localStorage.getItem("MKA");
    var mk2 = window.localStorage.getItem("MKB");
    var mk3 = window.localStorage.getItem("MKC");
    var mk4 = window.localStorage.getItem("MKD");
    var mk5 = window.localStorage.getItem("MKE");

    var MKMin= [mk1,mk2,mk3,mk4,mk5];
    document.getElementById("MKA"+0).innerHTML = mk1;
    document.getElementById("MKA"+1).innerHTML = mk2;
    document.getElementById("MKA"+2).innerHTML = mk3;
    document.getElementById("MKA"+3).innerHTML = mk4;
    document.getElementById("MKA"+4).innerHTML = mk5;
</script>

</html>